<p>Dear <%= @user.firstname + " " + @user.lastname %> </p>
<h3>Your New Credentials are as given below:</h3>
<hr/>
<p><b>Username:</b> <%= @user.email %></p>
<p><b>Password:</b> <%= @user.password %></p>
<hr/>
<br/>
<p> We have Editted your account for our Intranet Learning Platform </p>
<br/>
Happy Learning!
