<p>Dear <%= @user.firstname + " " + @user.lastname %> </p>
<p><b>Username:</b> <%= @user.email %></p>
<p><b>Password:</b> <%= @user.password %></p>
<br/>
<p> We have created your account for our Intranet Learning Platform </p>
<br/>
Happy Learning!
