<div class="row">
 <div class="col-md-12">
  <%= image_tag @video.content.url %>

  <!--<object data="http://www.engr.colostate.edu/me/facil/dynamics/files/drop.avi" width="360" height="250">
  <param name="src" value="http://www.engr.colostate.edu/me/facil/dynamics/files/drop.avi" />
  <embed type="video/x-ms-wm" src="http://www.engr.colostate.edu/me/facil/dynamics/files/drop.avi" width="360" height="250">
 </embed> </object> -->

 </div>
</div>
